# Flutter / Dart
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies

# Android
android/.gradle/
android/.idea/
android/app/build/

# iOS / macOS
ios/Pods/
macos/Pods/

# System
.DS_Store
*.iml
*.log

android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
